// Development
$base: 22;
$base-per: 137.5%;
$text-color: #5b5d65;
$accent-color: #0872b8;
$accent-hover-color: #0969a8;

$mobile: 320px;
$mobile-landscape: 600px;
$tablet: 768px;
$desktop: 910px;
$max-content-width: 1170px;